<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hbm2ddl.auto">create</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost/nfldb</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="connection.pool_size">1</property>
        <property name="show_sql">true</property>
        <mapping class="models.Staff.Players.K"/>
        <mapping class="models.Staff.Players.QB"/>
        <mapping class="models.Staff.Players.RB"/>
        <mapping class="models.Staff.Players.WR"/>
        <mapping class="models.Staff.Players.TE"/>
        <mapping class="models.Staff.Players.Player"/>
        <mapping class="models.Staff.Manager"/>
        <mapping class="models.Teams.Team"/>
        <mapping class="models.Tournaments.AFC"/>
        <mapping class="models.Tournaments.NFC"/>
        <mapping class="models.Tournaments.Playoffs"/>
        <mapping class="models.Tournaments.Tournaments"/>


    </session-factory>
</hibernate-configuration>